{
  "prepare": [
    "@semantic-release/npm",
    {
      "//": "adds a file to identify a build as a standalone binary",
      "path": "@semantic-release/exec",
      "cmd": "echo '' > dist/STANDALONE"
    },
    {
      "//": "HACK: remove type file that causes pkg error https://github.com/octokit/openapi-types.ts/issues/16",
      "path": "@semantic-release/exec",
      "cmd": "node_modules/@octokit/openapi-types/generated/types.ts"
    },
    {
      "//": "build the alpine, macos, linux and windows binaries",
      "path": "@semantic-release/exec",
      "cmd": "npx pkg . -t node12-linux-x64,node12-macos-x64,node12-win-x64"
    },
    {
      "//": "shasum all binaries",
      "path": "@semantic-release/exec",
      "cmd": "shasum -a 256 snyk-api-import-linux > snyk-api-import-linux.sha256 && shasum -a 256 snyk-api-import-macos > snyk-api-import-macos.sha256 && shasum -a 256 snyk-api-import-win.exe > snyk-api-import-win.exe.sha256"
    },
    {
      "//": "removes the file we use to identify a build as a standalone binary",
      "path": "@semantic-release/exec",
      "cmd": "rm dist/STANDALONE"
    }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "./snyk-api-import-linux",
          "name": "snyk-api-import-linux",
          "label": "snyk-api-import-linux"
        },
        {
          "path": "./snyk-api-import-linux.sha256",
          "name": "snyk-api-import-linux.sha256",
          "label": "snyk-api-import-linux.sha256"
        },
        {
          "path": "./snyk-api-import-macos",
          "name": "snyk-api-import-macos",
          "label": "snyk-api-import-macos"
        },
        {
          "path": "./snyk-api-import-macos.sha256",
          "name": "snyk-api-import-macos.sha256",
          "label": "snyk-api-import-macos.sha256"
        },
        {
          "path": "./snyk-api-import-win.exe",
          "name": "snyk-api-import-win.exe",
          "label": "snyk-api-import-win.exe"
        },
        {
          "path": "./snyk-api-import-win.exe.sha256",
          "name": "snyk-api-import-win.exe.sha256",
          "label": "snyk-api-import-win.exe.sha256"
        }
      ]
    }
  ],
  "branches": ["master"]
}
